<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" href="#" style="color:white">Book Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/books-list" style="color:white">Show Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/add-book" style="color:white">Add Book</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color:white">About</a>
            </li>
        </ul>
        <span class="navbar-text text-bold" style="color:white">
     Developed By Prince
    </span>
    </div>
</nav>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Book Store project</h1>
        <p class="lead">CRUD operation in BookStore App</p>
    </div>
</div>
<router-outlet></router-outlet>